USE [VETERINARIA]
GO
/****** Object:  Table [dbo].[ANALISISORINA]    Script Date: 24/08/2017 19:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANALISISORINA](
	[ANALISISORINAID] [int] IDENTITY(1,1) NOT NULL,
	[PACIENTEID] [int] NOT NULL,
	[FECHA] [date] NULL,
	[COLOR] [varchar](30) NULL,
	[TURBIDEZ] [varchar](30) NULL,
	[DENSIDAD] [varchar](30) NULL,
	[PROTEINAS] [varchar](30) NULL,
	[PH] [varchar](30) NULL,
	[CUERPOSCETONICOS] [varchar](30) NULL,
	[GLUCOSA] [varchar](30) NULL,
	[HEMOGLOBINA] [varchar](30) NULL,
	[UROBILINOGENO] [varchar](30) NULL,
	[BILIRUBINA] [varchar](30) NULL,
	[LEUCOSITOS] [varchar](30) NULL,
 CONSTRAINT [PK_ANALISISORINA] PRIMARY KEY NONCLUSTERED 
(
	[ANALISISORINAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ANAMNESIS]    Script Date: 24/08/2017 19:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANAMNESIS](
	[ANAMNESISID] [int] IDENTITY(1,1) NOT NULL,
	[PACIENTEID] [int] NOT NULL,
	[VETERINARIOID] [int] NOT NULL,
	[FECHAANAMNESIS] [date] NULL,
	[TEMPERATURA] [real] NULL,
	[FC] [real] NULL,
	[PESO] [real] NULL,
	[PULSO] [real] NULL,
	[HIDRATACION] [varchar](20) NULL,
	[FR] [real] NULL,
	[GENERAL] [varchar](80) NULL,
	[OJOSOREJAS] [varchar](80) NULL,
	[PIELTEGUMENTO] [varchar](80) NULL,
	[MUSCULOESQUELETICO] [varchar](80) NULL,
	[CARDIOVASCULAR] [varchar](80) NULL,
	[RESPIRATORIO] [varchar](80) NULL,
	[GASTROINTESTINAL] [varchar](80) NULL,
	[GENITALREPRODUCTOR] [varchar](80) NULL,
	[NEUROLOGICO] [varchar](80) NULL,
	[LINFATICO] [varchar](80) NULL,
	[OTROS] [varchar](80) NULL,
 CONSTRAINT [PK_ANAMNESIS] PRIMARY KEY NONCLUSTERED 
(
	[ANAMNESISID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 24/08/2017 19:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[CLIENTEID] [int] IDENTITY(1,1) NOT NULL,
	[CEDULA] [int] NULL,
	[NOMBRE] [char](30) NULL,
	[PROVINCIA] [char](30) NULL,
	[CUIDAD] [char](30) NULL,
	[SECTOR] [char](30) NULL,
	[DIRECCCION] [char](30) NULL,
	[TELEFONO] [varchar](30) NULL,
	[CORREO] [char](30) NULL,
	[TIPOCLIENTE] [char](30) NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY NONCLUSTERED 
(
	[CLIENTEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CLIENTENUEVO]    Script Date: 24/08/2017 19:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTENUEVO](
	[CLIENTENUEVOID] [int] IDENTITY(1,1) NOT NULL,
	[FECHAEMISION] [date] NULL,
 CONSTRAINT [PK_CLIENTENUEVO] PRIMARY KEY NONCLUSTERED 
(
	[CLIENTENUEVOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EMPLEADOS]    Script Date: 24/08/2017 19:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADOS](
	[EMPLEADOID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [char](30) NULL,
	[FECHA_NAC] [date] NULL,
	[DIRECCCION] [char](30) NULL,
	[TELEFONO] [int] NULL,
	[CEDULA] [int] NULL,
	[CORREO] [char](30) NULL,
 CONSTRAINT [PK_EMPLEADOS] PRIMARY KEY NONCLUSTERED 
(
	[EMPLEADOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FACTURA]    Script Date: 24/08/2017 19:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURA](
	[NUMFACTURA] [int] IDENTITY(1,1) NOT NULL,
	[IDCLIENTE] [char](30) NULL,
	[FECHAEMISION] [date] NULL,
	[NOMBRE] [char](30) NULL,
	[DIRECCION] [char](30) NULL,
	[TELEFONO] [char](30) NULL,
	[VALORTOTAL] [money] NULL,
 CONSTRAINT [PK_FACTURA] PRIMARY KEY NONCLUSTERED 
(
	[NUMFACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[INFORMEECOGRAFICO]    Script Date: 24/08/2017 19:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INFORMEECOGRAFICO](
	[INFORMEECOGRAFICOID] [int] IDENTITY(1,1) NOT NULL,
	[PACIENTEID] [int] NOT NULL,
	[FECHA] [date] NULL,
	[INFORMEECOGRAFICO] [varchar](max) NULL,
 CONSTRAINT [PK_INFORMEECOGRAFICO] PRIMARY KEY NONCLUSTERED 
(
	[INFORMEECOGRAFICOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[INFORMERADIOGRAFICO]    Script Date: 24/08/2017 19:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INFORMERADIOGRAFICO](
	[INFORMERADIOGRAFICOID] [int] IDENTITY(1,1) NOT NULL,
	[PACIENTEID] [int] NOT NULL,
	[FECHA] [date] NULL,
	[INFORMERADIOGRAFICO] [varchar](max) NULL,
 CONSTRAINT [PK_INFORMERADIOGRAFICO] PRIMARY KEY NONCLUSTERED 
(
	[INFORMERADIOGRAFICOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PACIENTE]    Script Date: 24/08/2017 19:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PACIENTE](
	[PACIENTEID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [char](30) NULL,
	[ESPECIE] [char](30) NULL,
	[RAZA] [char](30) NULL,
	[SEXO] [char](30) NULL,
	[PELAJE] [char](30) NULL,
	[MICROCHIP] [char](30) NULL,
	[FECHANACIMIENTO] [date] NULL,
	[CLIENTEID] [int] NULL,
 CONSTRAINT [PK_PACIENTE] PRIMARY KEY NONCLUSTERED 
(
	[PACIENTEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 24/08/2017 19:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTOS](
	[PRODUCTOSID] [int] IDENTITY(1,1) NOT NULL,
	[DETALLE] [char](30) NULL,
	[PVP] [money] NULL,
	[STOCK] [int] NULL,
 CONSTRAINT [PK_PRODUCTOS] PRIMARY KEY NONCLUSTERED 
(
	[PRODUCTOSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PROGRAMARVACUNA]    Script Date: 24/08/2017 19:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROGRAMARVACUNA](
	[PROGVACUNAID] [int] IDENTITY(1,1) NOT NULL,
	[PACIENTEID] [int] NOT NULL,
	[TIPOVACUNA] [varchar](30) NULL,
	[LABORATORIO] [varchar](30) NULL,
	[FECHAPROXVACUNA] [date] NULL,
 CONSTRAINT [PK_PROGRAMARVACUNA] PRIMARY KEY NONCLUSTERED 
(
	[PROGVACUNAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[prueba]    Script Date: 24/08/2017 19:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prueba](
	[NUMFACTURA] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[REGISTRARATP]    Script Date: 24/08/2017 19:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REGISTRARATP](
	[REGISTRARATPID] [int] IDENTITY(1,1) NOT NULL,
	[PACIENTEID] [int] NOT NULL,
	[TIPOATP] [varchar](30) NULL,
	[LABORATORIO] [varchar](30) NULL,
	[FECHADESPARACITACION] [date] NULL,
	[DESPARACITARALOS] [int] NULL,
	[FECHAVOLVERDESPARACITAR] [date] NULL,
 CONSTRAINT [PK_REGISTRARATP] PRIMARY KEY NONCLUSTERED 
(
	[REGISTRARATPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[REGISTRARDIAGNOSTICO]    Script Date: 24/08/2017 19:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REGISTRARDIAGNOSTICO](
	[REGISTRARDIAGNOSTICOID] [int] IDENTITY(1,1) NOT NULL,
	[PACIENTEID] [int] NOT NULL,
	[VETERINARIOID] [int] NOT NULL,
	[FECHA] [date] NULL,
	[REGISTRARDIAGNOSTICO] [varchar](max) NULL,
 CONSTRAINT [PK_REGISTRARDIAGNOSTICO] PRIMARY KEY NONCLUSTERED 
(
	[REGISTRARDIAGNOSTICOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[REGISTRARTRATAMIENTO]    Script Date: 24/08/2017 19:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REGISTRARTRATAMIENTO](
	[REGISTRARTRATAMIENTOID] [int] IDENTITY(1,1) NOT NULL,
	[PACIENTEID] [int] NOT NULL,
	[VETERINARIOID] [int] NOT NULL,
	[FECHA] [date] NULL,
	[REGISTRARTRATAMIENTO] [varchar](max) NULL,
 CONSTRAINT [PK_REGISTRARTRATAMIENTO] PRIMARY KEY NONCLUSTERED 
(
	[REGISTRARTRATAMIENTOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[REGISTRARVACUNA]    Script Date: 24/08/2017 19:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REGISTRARVACUNA](
	[VACUNAID] [int] IDENTITY(1,1) NOT NULL,
	[PACIENTEID] [int] NOT NULL,
	[NOMBREVACUNA] [varchar](30) NULL,
	[LABORATORIO] [varchar](30) NULL,
	[FECHAVACUNACION] [date] NULL,
	[REVACUNAR] [int] NULL,
	[FECHAREVACUNACION] [date] NULL,
 CONSTRAINT [PK_REGISTRARVACUNA] PRIMARY KEY NONCLUSTERED 
(
	[VACUNAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SERVICIOS]    Script Date: 24/08/2017 19:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICIOS](
	[SERVICIOSID] [int] IDENTITY(1,1) NOT NULL,
	[DETALLE] [char](30) NULL,
	[PVP] [decimal](5, 2) NULL,
 CONSTRAINT [PK_SERVICIOS] PRIMARY KEY NONCLUSTERED 
(
	[SERVICIOSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 24/08/2017 19:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[USUARIOID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBREDEUSUARIO] [char](30) NULL,
	[PASSWORD1] [char](30) NULL,
	[CARGO] [varchar](30) NULL,
 CONSTRAINT [PK_USUARIOS] PRIMARY KEY NONCLUSTERED 
(
	[USUARIOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
